PORT=8081
SESSION_SECRET=replace-me
KEYCLOAK_BASE_URL=http://localhost:8080/realms/poc
KEYCLOAK_CLIENT_ID=bff-client
KEYCLOAK_TOKEN_URL=http://localhost:8080/realms/poc/protocol/openid-connect/token
KEYCLOAK_END_SESSION_URL=http://localhost:8080/realms/poc/protocol/openid-connect/logout
GATEWAY_URL=http://localhost:8082


