replicaCount: 2

image:
  registry: ""
  repository: user-service
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: user-service.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres-app:5432/users"
  SPRING_DATASOURCE_USERNAME: "app"
  SPRING_DATASOURCE_PASSWORD: "app"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  KEYCLOAK_ISSUER_URI: "http://keycloak:8080/realms/poc"

